body {
  font-family: $ff-default;
  font-weight: $fw-default;
  font-size: $fs-default;
  color: $color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-heading;
  font-weight: $fw-heading;
  color: $color-black;
}

a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
