$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-light: hsl(0, 0%, 55%);
$color-dark: hsl(0, 0%, 41%);

$fs-default: 0.9375rem;

$ff-heading: "Josefin Sans", sans-serif;
$ff-default: "Alata", sans-serif;

$fw-heading: 300;
$fw-default: 400;
